@page
@model SalesTracker.Pages.PeopleDepartmentModel
@{
    ViewData["Title"] = "Sales People by department";
}

<h1>Sales people by department</h1>
<hr />

@foreach (var department in Model.departments)
{
    @if (department.SalesPersons.Count > 0)
    {
        <h3>@department.DepartmentName</h3>

        <table class="table table-hover table-striped">
            <thead >
                <tr class="table-info">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Joining Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var sp in department.SalesPersons)
                {
                    if (sp.IsEmployed)
                    {
                <tr>
                    <td>@sp.FirstName</td>
                    <td>@sp.LastName</td>
                    <td>@sp.JoiningDate.ToShortDateString()</td>
                    <td>
                        @if (sp.isManager)
                        {<span class="badge badge-info">Manager</span>}
                        @if (sp.AwardsCount > 1)
                        {<span class="badge badge-success">Highly Awarded</span>}
                        @if (sp.NoticesCount > 0)
                        {<span class="badge badge-warning">Highly Notified</span>}
                    </td>
                    <td>
                        <a href="/Sales/Create?SalesPersonId=@sp.Id">Add Sale</a> 
                        | <a href="/SalesPeople/Details?Id=@sp.Id">View Profile</a>
                    </td>
                </tr>
                    }

                }
            </tbody>
        </table>
    }
}
<h3>Past  Employees</h3>
<table class="table table-hover table-striped">
    <thead>
        <tr class="table-danger">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Joining Date</th>
            <th>Leaving Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var sp in Model.FiredSalesPeople)
        {
        <tr>
            <td>@sp.FirstName</td>
            <td>@sp.LastName</td>
            <td>@sp.JoiningDate.ToShortDateString()</td>
            <td>@sp.LeavingDate.Value.ToShortDateString()</td>
            <td>
                <a href="/SalesPeople/Details?Id=@sp.Id">View Profile</a>
            </td>
        </tr>

        }
    </tbody>
</table>
