@page
@model SalesTracker.Pages.SalesPeople.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Salesperson Profile</h1>
<hr />
<div>

    <dl class="row">
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@Model.SalesPerson.FirstName</dd>
        <br />
        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@Model.SalesPerson.LastName</dd>

        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">@Model.SalesPerson.Department.DepartmentName</dd>

        <dt class="col-sm-3">Joining date</dt>
        <dd class="col-sm-9">@Model.SalesPerson.JoiningDate.ToShortDateString()</dd>
        @if (!Model.SalesPerson.IsEmployed)
        {
            <dt class="col-sm-3">Leaving date</dt>
            <dd class="col-sm-9">@Model.SalesPerson.LeavingDate.Value.ToShortDateString()</dd>
        }
        <dt class="col-sm-3">Is Manager</dt>
        @if (Model.SalesPerson.isManager)
        {
            <dd class="col-sm-9">Yes</dd>
        }
        else
        {
            <dd class="col-sm-9">Not yet</dd>
        }

        <dt class="col-sm-3">Total Awards (@Model.SalesPerson.AwardsCount)</dt>
        <dd class="col-sm-9">
            @if (Model.SalesPerson.AwardsCount > 0)
            {
                <ul class="list-group list-group-horizontal">
                    @foreach (var item in Model.SalesPerson.AwardNotice)
                    {
                        @if (item.IsAward)
                        {
                            <li class="list-group-item"> @item.EntryDate.ToShortDateString()</li>
                        }

                    }
                </ul>
            }
        </dd>

        <dt class="col-sm-3">Total Notices (@Model.SalesPerson.NoticesCount)</dt>
        <dd class="col-sm-9">
            @if (Model.SalesPerson.NoticesCount > 0)
            {
                <ul class="list-group list-group-horizontal">
                    @foreach (var item in Model.SalesPerson.AwardNotice)
                    {
                        @if (item.isNotice)
                        {
                            <li class="list-group-item"> @item.EntryDate.ToShortDateString()</li>
                        }

                    }
                </ul>
            }
        </dd>
        <dt class="col-sm-3">Total Sales (@Model.SalesPerson.Sales.Count)</dt>
        <dd class="col-sm-6">
            @if (Model.SalesPerson.Sales.Count > 0)
            {
            <ul class="list-group">
                @foreach (var item in Model.SalesPerson.Sales)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @item.StoreItem.ItemName
                        <span class="badge badge-primary badge-pill">@item.Quantity</span>
                    </li>
                }
            </ul>
            }
        </dd>
    </dl>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SalesPerson.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
