@page
@model SalesTracker.Pages.Sales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.SalesPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SalesPerson.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.StoreItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.StoreItem.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sale.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
